
.container
  .row
    .col-md-12
      = form_for @hostels, :as => :company, :url => hostels_path, method: :get  do |f|
        .form-group.search-hostel
          = text_field_tag "query", "", { :placeholder => "Search  Hostels...", :id => "search_term" }
          = f.submit "Search", class: "btn btn-dark"
    - @hostels.each do |hostel|
      .col-md-4
        = link_to hostel_path(hostel) do
          = image_tag hostel.avatar, :height => "260", :width => "350", class: "rounded"
        %br
        = link_to hostel.name, hostel_path(hostel), class: "hostel-name"
        %br
        = truncate(hostel.description, :ommision => "... Read More", :length => 25)
        %br        
        = hostel.comments.count
        comments
        %br
        .price
          Rs.
          = hostel.price
          per month
:css
  .search-hostel{
    float: right;
  }
  .hostel-name {
    color: hotpink
  }
  .price {
    float: right;
    margin-top: -69px;
  }